#footer {
  backdrop-filter: saturate(180%) blur(5px);
  background: rgba(0, 0, 0, 0) !important;
}

#page-header {
  background: transparent !important;
}

#page-header.post-bg:before {
  background-color: rgba(0, 0, 0, 0) !important;
}

#page-header:not(.not-top-img):before {
  background-color: rgba(0, 0, 0, 0) !important;
}


/* 主页所有文章页面背景 */
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.read-mode .layout>#post {
  /* 以下代表透明度为0.5 */
  background: rgba(255, 255, 255, .5) !important;
}

/*侧边栏页面*/
#aside-content>.card-widget #aside-content>.sticky_layout>.card-widget,
.layout>#post,
.layout>#page,
.layout>#archive {
  background: rgba(255, 255, 255, .6) !important;
}

/* 夜间模式改变透明度*/

[data-theme='dark'] #aside-content>.card-widget,
[data-theme='dark'] #aside-content>.sticky_layout>.card-widget,
[data-theme='dark'] .layout>#post,
[data-theme='dark'] .layout>#page,
[data-theme='dark'] .layout>#archive {
  background: rgba(128, 128, 128, .6) !important;
}


[data-theme='dark'] #aside_content .card-widget,
[data-theme='dark'] #recent-posts>.recent-post-item,
[data-theme='dark'] .read-mode .layout>#post {
  background: rgba(128, 128, 128, .5) !important;
}

/* 阅读模式显示背景*/
.read-mode #web_bg {
  display: block !important;
}

#post-info .post-title,
#post-info #post-meta {
  color: var(--font-color) !important;
}

#footer-wrap {
  color: var(--font-color) !important;
}

#page-header #site-title,
#page-header #site-subtitle {
  color: #858585 !important;
}